{% extends "base.html" %}

{% block content %}
    <h1>Order {{ order.id }} Confirmation</h1>
    <p>Thank you for your purchase, {{ order.user.username }}!</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }} €</td>
                <td>{{ item.get_total_price }} €</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{ total_price }} €</h3>

    <a href="{% url 'orders' %}">&#8617; Go to orders</a>
{% endblock %}
