{% extends "base.html" %}

{% block content %}
    <h1>Your orders</h1>

    {% if orders %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Price</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.get_total_price }}</td>
                    <td><a href="{% url 'order_confirmation' order.id %}" class="btn btn-primary btn-sm">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No orders found</p>
    {% endif %}
{% endblock %}
