{% extends "base.html" %}

{% block content %}
    <h1>Your orders</h1>

    {% if orders %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Price</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.get_total_price }} €</td>
                    <td><a href="{% url 'order_confirmation' order.id %}" class="btn btn-primary btn-sm">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            {% if orders.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.previous_page_number }}">&laquo; Previous</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#">&laquo; Previous</a>
                </li>
            {% endif %}

            {% for num in orders.paginator.page_range %}
                {% if orders.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ num }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if orders.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.next_page_number }}">Next &raquo;</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="#">Next &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
        <p>No orders found</p>
    {% endif %}
{% endblock %}
